@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono");
h1 {
  font-family: 'Roboto Mono';
  font-size: 5em; }

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif; }

.nav .navbar-nav li a {
  color: #292f36; }
  .nav .navbar-nav li a:hover {
    color: #ec4e20; }
  .nav .navbar-nav li a:focus {
    color: #66717e; }

.navbar-inverse .navbar-brand {
  color: #ec4e20; }
  .navbar-inverse .navbar-brand:hover {
    color: #ec4e20; }
  .navbar-inverse .navbar-brand:focus {
    color: #ec4e20; }

.navbar-header {
  color: #292f36; }

.navbar-inverse {
  background-color: #4ecdc4; }

section {
  height: 800px; }

#home {
  background-image: url("https://static.pexels.com/photos/90807/pexels-photo-90807.jpeg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  #home h1 {
    color: #4ecdc4;
    margin: 10px; }
  #home h2 {
    color: #66717e;
    margin: 10px; }
  #home .jumbotron {
    background: rgba(247, 247, 255, 0.9);
    border: none;
    width: 100%;
    margin: 0px; }
  #home #social a {
    text-decoration: none; }
    #home #social a:hover {
      text-decoration: none; }
  #home #social button {
    margin: 10px 5px;
    background-color: #ec4e20;
    border: none;
    color: #292f36;
    width: 30%; }
    #home #social button:hover {
      color: #f7f7ff; }

#about {
  background-color: #f7f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #66717e;
  font-size: 1.2em; }
  #about h1 {
    color: #ec4e20;
    font-weight: normal; }
  #about .about {
    width: 40%;
    margin: 20px; }
  #about .photo {
    margin: 20px; }
    #about .photo #gravatar {
      width: 300px; }

#portfolio {
  background-color: #4ecdc4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center; }
  #portfolio h1 {
    color: #292f36;
    margin: 20px; }
  #portfolio .projects {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; }
    #portfolio .projects .project {
      width: 180px;
      margin: 10px; }
      #portfolio .projects .project .thumbnail {
        border: none;
        display: flex;
        align-items: stretch;
        flex-direction: column;
        background-color: #f7f7ff; }
        #portfolio .projects .project .thumbnail h3 {
          margin: 10px auto;
          padding: 0; }
        #portfolio .projects .project .thumbnail a {
          text-decoration: none; }
          #portfolio .projects .project .thumbnail a:hover {
            text-decoration: none; }
        #portfolio .projects .project .thumbnail button {
          background: #ec4e20;
          margin-top: 5px;
          border: none;
          color: #292f36;
          width: 100%; }
          #portfolio .projects .project .thumbnail button:hover {
            background-color: #f0734f;
            color: #f7f7ff; }

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center;
  background-color: #ec4e20; }

a {
  color: #4ecdc4; }


  @media screen and (max-width: 480px) {
  	#home #social button {
  		display: block;
  		width: 100%;
  		margin: 0 auto;
  		margin-top: 5px;
  	}
  	#about .photo #gravatar {
  		margin: 0 auto;
      width: 50%;
  	}
    #about .about {
    	width: 90%;
    	margin: 20px;
    }

  }


/*# sourceMappingURL=styles.css.map */
