@import url('https://fonts.googleapis.com/css?family=Roboto|Space+Mono');
h1 {
  font-family: 'Space Mono';
  font-size: 80px;
  font-weight: bold;
}
body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.nav .navbar-nav li a {
  color:rgba(250, 244, 224, 1);
}
.navbar-inverse .navbar-brand {
  color:#008B8B;
}
.navbar-header {
  color:rgba(250, 244, 224, 1);
}
section {
  height:800px;
}
#home {
  background-image:url('https://static.pexels.com/photos/90807/pexels-photo-90807.jpeg');
  background-size:cover;
  background-color:#005E7F;
  display: flex;
}
@media screen and (max-width: 480px){
  #home {
    height:100%;
  }
  #home button {
    display:block;
    width:100%;
    margin:0 auto;
    margin-top:5px;
  }
  #gravatar {
    margin:0 auto;
  }
}
#home h1 {
  color:rgba(250, 244, 224, 1);
}
#home h2 {
  color:#008B8B;
}
#home .jumbotron {
  background:rgba(34, 34, 34, 0.8);
  border:none;
  margin:25% auto;
}
#social button {
  background-color:#008080;
  border:none;
  color:#222222;
}
#social button:hover {
  color:rgba(250, 244, 224, 1);
}
#about {
  background-color:rgba(250, 244, 224, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(109, 105, 106, 1);
}
#about h1 {
  color:rgba(90, 132, 155, 1);
  font-weight: normal;
}
#portfolio {
  background-color:#008B8B;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects {
  width: 900px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.project {
  width:200px;
  height: 200px;
  margin:10px;
}
.thumbnail {
  border:none;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.thumbnail h3 {
  margin:10px auto;
  padding: 0;
}
#portfolio .thumbnail button {
  background:#008080;
  margin-top:5px;
  border:none;
  color:#222222;
  width: 100%;
}
a {
  color:#008080;
}
