// color palett
@import "palette.scss";

@media only screen and (max-width:480px) {
  .projects {
    width: 100%;
  }
}
@media screen and (max-width: 480px){
  #home {
    height:100%;
  }
  #home #social button {
    display:block;
    width:100%;
    margin:0 auto;
    margin-top:5px;
  }
  #gravatar {
    margin:0 auto;
  }
}
