/* Coolors Exported Palette - coolors.co/6d696a-bed1c8-faf4e0-5a849b-f06449 */

/* HSL */
$color1: hsla(345%, 2%, 42%, 1);
$color2: hsla(152%, 17%, 78%, 1);
$color3: hsla(46%, 72%, 93%, 1);
$color4: hsla(201%, 27%, 48%, 1);
$color5: hsla(10%, 85%, 61%, 1);

/* RGB */
$color1: rgba(109, 105, 106, 1);
$color2: rgba(190, 209, 200, 1);
$color3: rgba(250, 244, 224, 1);
$color4: rgba(90, 132, 155, 1);
$color5: rgba(240, 100, 73, 1);